@import url(https://fonts.googleapis.com/css?family=Inter:400);
.page {
  padding-top: 48px;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #fcfcfd;
  margin: 0 auto;
  padding: 36px;
  text-align: left;
  max-width: 800px;
}
/*
 .form input {
     font-family: "Inter", sans-serif;
     outline: ;
     background: #ffffff;
     width: 100%;
     border: 0;
     margin: 0 0 15px;
     padding: 15px;
     box-sizing: border-box;
     font-size: 14px;
}
*/
input[type="text"],
select,
textarea {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #e4e6ec;
  border-radius: 4px;
  resize: vertical;
}

label {
  font-family: "Inter", sans-serif;
  padding: 12px 12px 0px 0;
  display: inline-block;
}
.form button {
  margin-top: 48px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #20B69E;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #1C9985;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin-bottom: 24px;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #151728;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  background: #101330;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
